/* SONG CARD */
.song-card {
    background: var(--bg-card);
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
}

.song-card:hover {
    background: var(--bg-hover);
    border-color: #333;
    transform: translateX(5px);
}

.card-img {
    width: 45px;
    height: 45px;
    background: #333;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 15px;
    flex-shrink: 0;
}

.card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-title {
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.card-meta {
    font-size: 12px;
    color: var(--text-sub);
    display: flex;
    gap: 15px;
}

.card-meta span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-action {
    text-align: right;
    min-width: 100px;
}

.card-price {
    font-size: 14px;
    color: var(--accent-gold);
    font-weight: bold;
}

.card-owned {
    color: var(--primary);
    font-weight: 600;
    font-size: 13px;
}